:root {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  height: 100vh;
  background: linear-gradient(to right, #0A192F 10%, #27314F 90%);
  background-size: cover;
}

.current-dir {
  position: absolute;
  top: 6%;
  left: 22%;
  display: inline-block;
  width: 20%;
  height: 3.5%;
  font-size: 100%;
}

.dir-tooltip-img {
  position: absolute;
  font-size: 4%;
  left: 90%;
  top: 10%;
}

.dir-tooltip-text {
  visibility: hidden;
  font-size: 10px;
  width: max-content;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: 500;
  background-color: #1E2A3A;
  color: #F0F4F8;
  display: inline-block;
  text-align: center;
  border: 1px solid #3A475A;
  left: 105%;
  top: 10%;
  border-radius: 3px;

  position: absolute;
  z-index: 2;
}

.dir-tooltip:hover .dir-tooltip-text {
  visibility: visible;
}

.dir-tooltip:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
  }

  a:hover {
    color: #24c8db;
  }
}
