.dir-button {
    position: absolute;
    right: 3%;
    top: 6%;
    height: 4.5%;
    width: 10%;
    font-weight: bold;
    background: #07c1ff80;
    border-radius: 10px;
    border: #0084b039;
  }
  
  .dir-button:hover {
    background: #0084b039;
    border: #ffffffd6;
  }